# Project Files
config.codekit
.sass-cache
.bowerrc
.log
/assets/bower_components/
/assets/node_modules/
/assets/sass/lib
/assets/js/lib
/assets/js/lib
/assets/js/build
/assets/js/plugins

### OSX ###
.DS_Store
*/.DS_Store
.DS_Store?
.AppleDouble
.LSOverride


	


