
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th {
  font-weight: bold;
}

thead {
  border-bottom: 1px solid #222;
}

thead th {
  background: transparent;
}

th,td,caption {
  padding: 0.75em;
  text-align: center;
}

caption {
  border: 1px dotted #555;
}

tfoot {
  font-style: italic;border-top: 1px solid #555;
}

caption {
  background: transparent;
}


/* mobile Specific Styles */
@media screen and (max-width: $mobilebreak) {

}

/* Tablet Specific Styles */
@media screen and (min-width: $mobilebreak) and (max-width: $tabletbreak) {

}

/* Desktop Specific Styles */
@media screen and (min-width: $tabletbreak) {

}