
/*-----------------------
additional
----------------------- */
.hide {display: none;visibility: hidden;}
::-moz-selection {background-color: #FF005C; color: #efefef; opacity: 0.7;}
::selection {background-color: #FF005C; color: #efefef; opacity: 0.7;}
